---
import OfferCard from "./OfferCard.astro";

// Define props from Astro
const { title, testimonials } = Astro.props;

// Define TypeScript interface for Testimonial
interface Testimonial {
  imgMain: string;
  imgAlt: string;
  title: string;
  rating: number;
  category: number;
  investment: number;
  reward: number;
  rewardType: string;
  btnURL: string;
  termsAndConditions: string;
  code: string;
  id: number;
  howToRegister: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  testimonials: Testimonial[];
}

---
<!-- Main div that wraps the testimonials section -->
<section
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full rounded-lg"
  id="testimonials"
>
  <!-- Title of the testimonials section -->
  <div class="mb-6 w-3/4 max-w-2xl sm:mb-10 md:mb-16 lg:w-1/2">
    <h2
      class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl lg:text-4xl"
    >
      {title}
    </h2>
  </div>

  <div class="grid gap-12 lg:grid-cols-2 xl:grid-cols-3">
    <!-- Looping through each testimonial data and rendering it -->
    {
      testimonials.map((t: Testimonial) => {


        return (
          <OfferCard
            testimonial={t}
          />
      )
    })
    }
  </div>
  </section>
