---
import Icon from "@components/ui/icons/Icon.astro";

interface Feature {
  heading: string;
  content: string;
  svg: string;
}

interface Props {
  title?: string;
  features?: Feature[];
  alt?: string;
}
// Define props from Astro
const { title, alt, features } = Astro.props;
---

<section
  class="mx-auto py-10 lg:py-14 2xl:max-w-full "
>

  <!-- Displaying the main content consisting of title, subtitle, and several `IconBlock` components -->
  <div class="mt-5">
      <!-- Rendering title -->
      <h2
        class="text-balance text-2xl mb-12 text-center font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl"
      >
        {title}
      </h2>
     

    <!-- Block to display the IconBlock components -->
      <div class="grid gap-8 sm:grid-cols-3">
        <!-- Injecting IconBlock components with different properties -->
        { features &&
          features.map((feature) => (

            <div class="text-center dark:bg-neutral-200 bg-neutral-800 py-4 px-6 rounded-xl">
              <div class="flex justify-center mb-2">
                <Icon name={feature.svg}/>
              </div>
              <div class="grow">
                <h3 class="text-balance text-lg font-bold dark:text-neutral-800 text-neutral-200">
                  {feature.heading}
                </h3>
                <!-- Content text of the section -->
                <p class="mt-1 text-pretty dark:text-neutral-700 text-neutral-300">{feature.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
</section>
