---
const { src, alt } = Astro.props;

interface Props {
  src: string;
  alt: string;
}
---

<div class="flex-shrink-0">
  <img
    class={`size-8 rounded-full h-[6rem] w-[6rem]`}
    src={src}
    alt={alt}
    loading="lazy"
  />
</div>
