---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import heroImage from "@images/hero-image.png";
import OfferSection from "@/components/sections/OfferSection.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { SITE, TEXTS } from "@data/constants";

const offers: CollectionEntry<"reviews">[] = await getCollection(
  "reviews",
  ({ id }) => {
    return id.startsWith("ie/")
  }
);

const texts = TEXTS.en;
---

<MainLayout
  title={SITE.title}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://certainWager.com/ie/blog",
    url: "https://certainWager.com/ie/blog",
    name: "Blog | CertainWager",
    description: texts.mainDescription,
    isPartOf: {
      "@type": "WebSite",
      url: "https://certainWager.com",
      name: "CertainWager",
      description: texts.heroSubtitle,
    },
    inLanguage: "en-GB",
  }}
>

  <HeroSection
    title=`Maximize Winnings with <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-8xl">Exclusive</span> And <span class="text-orange-500 dark:text-orange-300 text-5xl lg:text-8xl">Free</span> Bets`
    subTitle={texts.heroSubtitle}
    src={heroImage}
    alt={texts.heroAlt}
  />
  
  <OfferSection
    testimonials={offers.map((offer) => offer.data)}
  />

  
   
</MainLayout>
