---
import ListFilter from "./misc/ListFilter.astro";
import OfferCard from "./cards/OfferCard.astro";
import type { CollectionEntry } from 'astro:content';

const offers = Astro.props.testimonials as CollectionEntry<'reviews'>['data'][];

---
<section
  class="max-w-[85rem] pb-12 2xl:max-w-full rounded-lg border-2 border-neutral-800 dark:border-neutral-100"
  id="testimonials"
>
  <div class="mb-6 sm:mb-10 flex flex-wrap gap-4">
    <ListFilter/>
  </div>

   <div class="grid gap-12 lg:grid-cols-2 xl:grid-cols-3 px-4 sm:px-6 lg:px-8" id="offers">
    {offers.map((offer,i) => (
      <div data-offer data-category={offer.type} class="offer-card">
        <OfferCard testimonial={offer} i={i} />
      </div>
    ))}
  </div>
  <p data-no-offers class="text-center text-xl mt-8 text-neutral-500 dark:text-neutral-400 hidden">
    No offers found.
  </p>
  </section>

<script>
  window.addEventListener('filterCategory', (event) => {
    const selectedCategory = (event as CustomEvent).detail.category;
    
    const offers = document.querySelectorAll('[data-offer]');
    const noOffers = document.querySelectorAll('[data-no-offers]');

    let counter = 0;
    
    offers.forEach((offer) => {
      const offerCategory = offer.getAttribute('data-category');
      // Show all if category is 0 or match with the selected category
      if (selectedCategory == 0 || offerCategory == selectedCategory) {
        (offer as HTMLElement).style.display = 'block';
        counter++;
      } else {
        (offer as HTMLElement).style.display = 'none';
      }
    });

     if (counter === 0) {
      noOffers.forEach((noOffer) => {
        (noOffer as HTMLElement).style.display = 'block';
      });
    } else {
      noOffers.forEach((noOffer) => {
        (noOffer as HTMLElement).style.display = 'none';
      });
    }
  });
</script>
