---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
// import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import heroImage from "@images/hero-image.png";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import OfferSection from "@/components/sections/cards/OfferSection.astro";
import EmailFooterInput from "@components/ui/forms/input/EmailFooterInput.astro";
import EmailMainInput from "@components/ui/forms/input/EmailMainInput.astro";

interface Testimonial {
  avatarSrc: string;
  avatarAlt: string;
  title: string;
  rating: number;
  category: number;
  investment: number;
  reward: number;
  rewardType: string;
  url: string;
  disclaimer: string;
  code: string;
  id: number;
  howToRegister: string;
}


const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

// Testimonial data that will be rendered in the component
const testimonials: Array<Testimonial> = [
  // First testimonial data
  {
    id: 1,
    avatarSrc:
      "https://www.shutterstock.com/image-vector/sport-bet-logo-icon-live-260nw-2147401823.jpg",
    avatarAlt: "Image Description",
    title: "Casino Alpha",
    rating: 4.18,
    category: 1,
    investment: 150,
    reward: 420,
    rewardType: "Tokens",
    disclaimer: "T&Cs Apply",
    url: "https://www.google.com",
    code: "WELCOME420",
    howToRegister: "Register with the code WELCOME420",
  },
  {
    id: 2,
    avatarSrc:
      "https://www.shutterstock.com/image-vector/sport-bet-logo-icon-live-260nw-2147401823.jpg",
    avatarAlt: "Image Description",
    title: "Bet Fat",
    rating: 4.58,
    category: 1,
    investment: 20,
    reward: 50,
    rewardType: "Tokens",
    disclaimer: "T&Cs Apply",
    code: "WELCOME50",
    url: "https://www.google.com",
    howToRegister: "Register with the code WELCOME50",

  },
  // Second testimonial data
  {
    id: 3,
    avatarSrc:
    "https://images-platform.99static.com//dCLJ4R40XbxzyY6tFhBFLQ2ZEJI=/420x0:1500x1080/fit-in/500x500/99designs-contests-attachments/90/90536/attachment_90536419",
    avatarAlt: "Image Description",
    title: "Sport Betting Turbo",
    rating: 4.4,
    category: 0,
    investment: 50,
    reward: 40,
    rewardType: "Free Bets",
    code: "WELCOME40",
    url: "https://www.google.com",
    howToRegister: "Register with the code WELCOME40",
    disclaimer: "New UK 18+ only. Register (excl. 13/04/2024) with promo code WELCOME40, Bet £10+ on Sports in one transaction within 7 days of registering. Get £30 Free Bets & £10 free spins within 10hrs of bet settlement. Bonuses expire 7 days after issue. Min odds, eligibility & payment exclusions apply. T&Cs apply.",
  },
  // Third testimonial data
  {
    id: 4,
    avatarSrc:
      "https://i.pinimg.com/474x/d1/92/23/d1922396d297ac426cf04265a3674d3b.jpg",
    avatarAlt: "Image Description",
    title: "Casino Chuppa",
    rating: 4.71,
    category: 1,
    investment: 10,
    code: "WELCOME50",
    url: "https://www.google.com",
    howToRegister: "Register with the code WELCOME50",
    reward: 50,
    rewardType: "Free Spins",
    disclaimer: "New UK 18+ only. Register (excl. 13/04/2024) with promo code WELCOME50, Bet £10+ on Sports in one transaction within 7 days of registering. Get £30 Free Bets & £20 free spins within 10hrs of bet settlement. Bonuses expire 7 days after issue. Min odds, eligibility & payment exclusions apply. T&Cs apply.",
  },
];
---

<MainLayout>

  <HeroSection
    title=`Shortcut To Free <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-8xl">Bets</span> And <span class="text-orange-500 dark:text-orange-300 text-5xl lg:text-8xl">Profit</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <OfferSection
    title="Offers"
    testimonials={testimonials}
  />

  <EmailMainInput />
   
</MainLayout>
