---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import heroImage from "@images/hero-image.png";

---

<MainLayout>

  <HeroSection
    title=`Shortcut To Free <span class="text-yellow-500 dark:text-yellow-400 text-5xl lg:text-8xl">Bets</span> And <span class="text-orange-500 dark:text-orange-300 text-5xl lg:text-8xl">Profit</span>`
    subTitle="Top-quality hardware tools and expert construction services for every project need."
    primaryBtn="Start Exploring"
    primaryBtnURL="/reviews"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of CertainWager product boxes containing assorted hardware tools"
  />
   
</MainLayout>
<script>
  if (typeof window !== 'undefined') {
    window.location.href = '/en/';
  }
</script>