---
// Import the necessary dependencies
import BrandLogo from "@components/BrandLogo.astro";
import EmailMainInput from "@/components/ui/forms/input/EmailMainInput.astro";
import { TEXTS } from "@/data_files/constants";

type LanguageKeys = keyof typeof TEXTS;
const lang: LanguageKeys = (Astro.currentLocale as LanguageKeys) || 'en';
const texts = TEXTS[lang];
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16  2xl:max-w-screen-2xl"
  >
    <div class="flex flex-col items-center gap-4">
      <EmailMainInput />
      <BrandLogo class="h-auto w-32" />
      <p class="text-neutral-600 dark:text-neutral-400 text-center">
        {texts.footerDisclaimer}
      </p>
    </div>

    <div
      class="mt-9 text-center"
    >
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span> CertainWager
        </p>

    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
