---
// Import the necessary dependencies
import BrandLogo from "@components/BrandLogo.astro";
import { SITE } from "@data/constants";
import EmailMainInput from "@/components/ui/forms/input/EmailMainInput.astro";

---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16  2xl:max-w-screen-2xl"
  >
    <div class="flex flex-col items-center gap-4">
      <EmailMainInput />
      <BrandLogo class="h-auto w-32" />
    </div>

    <div
      class="mt-9 text-center"
    >
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span> {SITE.title}
        </p>

    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
